In [92]:
import pandas as pd

#### Read file

In [93]:
file_path = "data/Lab3Dataset.csv"

In [94]:
data = pd.read_csv(file_path)

data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,NaN

#### Check for null values

In [95]:
data.isnull().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960                2
                 ...
2019                1
2020                1
2021                1
2022                1
2023              266
Length: 68, dtype: int64

In [96]:
data = data.dropna(how='all', axis=1)

In [97]:
data.isnull().sum()

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              2
                 ..
2018              1
2019              1
2020              1
2021              1
2022              1
Length: 67, dtype: int64

In [98]:
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0

In [99]:
data = data.dropna()

data.isnull().sum()

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              0
                 ..
2018              0
2019              0
2020              0
2021              0
2022              0
Length: 67, dtype: int64

In [100]:
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0

In [101]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 264 entries, 0 to 265
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            264 non-null    float64
 5   1961            264 non-null    float64
 6   1962            264 non-null    float64
 7   1963            264 non-null    float64
 8   1964            264 non-null    float64
 9   1965            264 non-null    float64
 10  1966            264 non-null    float64
 11  1967            264 non-null    float64
 12  1968            264 non-null    float64
 13  1969            264 non-null    float64
 14  1970            264 non-null    float64
 15  1971            264 non-null    float64
 16  1972            264 non-null    float64
 17  1973            264 non-null    float64
 18  1974            264 non-null    float64
 19  1975            264 non-null    float64
 20  1976            264 non-null    float64
 21  1977            264 non-null    float64
 22  1978            264 non-null    float64
 23  1979            264 non-null    float64
 24  1980            264 non-null    float64
 25  1981            264 non-null    float64
 26  1982            264 non-null    float64
 27  1983            264 non-null    float64
 28  1984            264 non-null    float64
 29  1985            264 non-null    float64
 30  1986            264 non-null    float64
 31  1987            264 non-null    float64
 32  1988            264 non-null    float64
 33  1989            264 non-null    float64
 34  1990            264 non-null    float64
 35  1991            264 non-null    float64
 36  1992            264 non-null    float64
 37  1993            264 non-null    float64
 38  1994            264 non-null    float64
 39  1995            264 non-null    float64
 40  1996            264 non-null    float64
 41  1997            264 non-null    float64
 42  1998            264 non-null    float64
 43  1999            264 non-null    float64
 44  2000            264 non-null    float64
 45  2001            264 non-null    float64
 46  2002            264 non-null    float64
 47  2003            264 non-null    float64
 48  2004            264 non-null    float64
 49  2005            264 non-null    float64
 50  2006            264 non-null    float64
 51  2007            264 non-null    float64
 52  2008            264 non-null    float64
 53  2009            264 non-null    float64
 54  2010            264 non-null    float64
 55  2011            264 non-null    float64
 56  2012            264 non-null    float64
 57  2013            264 non-null    float64
 58  2014            264 non-null    float64
 59  2015            264 non-null    float64
 60  2016            264 non-null    float64
 61  2017            264 non-null    float64
 62  2018            264 non-null    float64
 63  2019            264 non-null    float64
 64  2020            264 non-null    float64
 65  2021            264 non-null    float64
 66  2022            264 non-null    float64
dtypes: float64(63), object(4)
memory usage: 140.2+ KB

In [102]:
data.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
count,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,...,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02
mean,1.172860e+08,1.188956e+08,1.210661e+08,1.237484e+08,1.264530e+08,1.291965e+08,1.320558e+08,1.349134e+08,1.378513e+08,1.408944e+08,...,2.938661e+08,2.977564e+08,3.016166e+08,3.054754e+08,3.093402e+08,3.131410e+08,3.168605e+08,3.204630e+08,3.237369e+08,3.266987e+08
std,3.695500e+08,3.740958e+08,3.808121e+08,3.895098e+08,3.982497e+08,4.071209e+08,4.164559e+08,4.257477e+08,4.353270e+08,4.452978e+08,...,9.201946e+08,9.316019e+08,9.428611e+08,9.540515e+08,9.652505e+08,9.761529e+08,9.867227e+08,9.968215e+08,1.005939e+09,1.013891e+09
min,2.646000e+03,2.888000e+03,3.171000e+03,3.481000e+03,3.811000e+03,4.161000e+03,4.531000e+03,4.930000e+03,5.354000e+03,5.646000e+03,...,1.069400e+04,1.089900e+04,1.087700e+04,1.085200e+04,1.082800e+04,1.086500e+04,1.095600e+04,1.106900e+04,1.120400e+04,1.131200e+04
25%,5.132212e+05,5.231345e+05,5.337595e+05,5.449288e+05,5.566630e+05,5.651150e+05,5.691470e+05,5.773872e+05,5.832700e+05,5.875942e+05,...,1.633497e+06,1.670147e+06,1.706191e+06,1.700500e+06,1.712904e+06,1.723991e+06,1.729916e+06,1.741612e+06,1.748145e+06,1.740216e+06
50%,3.757486e+06,3.887144e+06,4.023896e+06,4.139356e+06,4.224612e+06,4.277636e+06,4.331825e+06,4.385700e+06,4.450934e+06,4.530800e+06,...,1.015331e+07,1.034159e+07,1.038195e+07,1.042652e+07,1.044737e+07,1.042760e+07,1.055977e+07,1.065204e+07,1.053749e+07,1.057953e+07
75%,2.670606e+07,2.748694e+07,2.830289e+07,2.914708e+07,3.001684e+07,3.084892e+07,3.163010e+07,3.209247e+07,3.249927e+07,3.277149e+07,...,6.120753e+07,6.174243e+07,6.182699e+07,6.187352e+07,6.191725e+07,6.193141e+07,6.161352e+07,6.304870e+07,6.444782e+07,6.586616e+07
max,3.031474e+09,3.072422e+09,3.126850e+09,3.193429e+09,3.260442e+09,3.328209e+09,3.398480e+09,3.468371e+09,3.540164e+09,3.614573e+09,...,7.229303e+09,7.317040e+09,7.403850e+09,7.490415e+09,7.576442e+09,7.660371e+09,7.741775e+09,7.820206e+09,7.888306e+09,7.950947e+09

In [103]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [104]:
# Drop columns
data = data.drop(columns=['Country Name', 'Indicator Name', 'Indicator Code'])

# Transpose the data so that each country's data is a row
data = data.set_index('Country Code').transpose()

# Flatten the data
flattened_data = data.reset_index().melt(id_vars='index').rename(columns={'index': 'Year', 'value': 'Population'})

# Filter for country Afghanistan
country_code = 'AFG'
country_data = flattened_data[flattened_data['Country Code'] == country_code]

# Convert Year to numeric
country_data['Year'] = pd.to_numeric(country_data['Year'])

# Drop rows with missing population values
country_data = country_data.dropna(subset=['Population'])

# Normalize the data
scaler = MinMaxScaler()
country_data['Population'] = scaler.fit_transform(country_data[['Population']])

# Split data into training and testing sets
X = country_data['Year'].values.reshape(-1, 1)
y = country_data['Population'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

C:\Users\Eric\AppData\Local\Temp\ipykernel_19780\1592017735.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_data['Year'] = pd.to_numeric(country_data['Year'])

#### Building the ANN

In [105]:
# Build the ANN model
model = Sequential()
model.add(Dense(64, input_dim=1, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='linear'))

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(X_train, y_train, epochs=100, batch_size=10, validation_data=(X_test, y_test))

Epoch 1/100
5/5 [==============================] - 1s 32ms/step - loss: 1553.5928 - val_loss: 944.8583
Epoch 2/100
5/5 [==============================] - 0s 9ms/step - loss: 411.6647 - val_loss: 756.5577
Epoch 3/100
5/5 [==============================] - 0s 8ms/step - loss: 332.0901 - val_loss: 164.0010
Epoch 4/100
5/5 [==============================] - 0s 9ms/step - loss: 241.4738 - val_loss: 13.4244
Epoch 5/100
5/5 [==============================] - 0s 9ms/step - loss: 90.9106 - val_loss: 117.8693
Epoch 6/100
5/5 [==============================] - 0s 9ms/step - loss: 47.5562 - val_loss: 90.3032
Epoch 7/100
5/5 [==============================] - 0s 8ms/step - loss: 45.5841 - val_loss: 16.0273
Epoch 8/100
5/5 [==============================] - 0s 8ms/step - loss: 29.9115 - val_loss: 0.3508
Epoch 9/100
5/5 [==============================] - 0s 9ms/step - loss: 13.4169 - val_loss: 9.2976
Epoch 10/100
5/5 [==============================] - 0s 8ms/step - loss: 6.8447 - val_loss: 10.6959
Epoch 11/100
5/5 [==============================] - 0s 8ms/step - loss: 4.7061 - val_loss: 8.2017
Epoch 12/100
5/5 [==============================] - 0s 9ms/step - loss: 3.5092 - val_loss: 3.2203
Epoch 13/100
5/5 [==============================] - 0s 8ms/step - loss: 2.1163 - val_loss: 1.6200
Epoch 14/100
5/5 [==============================] - 0s 8ms/step - loss: 1.3989 - val_loss: 0.3585
Epoch 15/100
5/5 [==============================] - 0s 9ms/step - loss: 0.7651 - val_loss: 0.2287
Epoch 16/100
5/5 [==============================] - 0s 9ms/step - loss: 0.4074 - val_loss: 0.1356
Epoch 17/100
5/5 [==============================] - 0s 8ms/step - loss: 0.2062 - val_loss: 0.1255
Epoch 18/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1412 - val_loss: 0.1587
Epoch 19/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1409 - val_loss: 0.1265
Epoch 20/100
5/5 [==============================] - 0s 7ms/step - loss: 0.1226 - val_loss: 0.1373
Epoch 21/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1118 - val_loss: 0.1380
Epoch 22/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0885 - val_loss: 0.1371
Epoch 23/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0914 - val_loss: 0.1443
Epoch 24/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0821 - val_loss: 0.1387
Epoch 25/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0870 - val_loss: 0.1263
Epoch 26/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0795 - val_loss: 0.1493
Epoch 27/100
5/5 [==============================] - 0s 9ms/step - loss: 0.0849 - val_loss: 0.1258
Epoch 28/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0977 - val_loss: 0.1806
Epoch 29/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0868 - val_loss: 0.1266
Epoch 30/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0799 - val_loss: 0.1426
Epoch 31/100
5/5 [==============================] - 0s 7ms/step - loss: 0.0838 - val_loss: 0.1270
Epoch 32/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0805 - val_loss: 0.1355
Epoch 33/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0817 - val_loss: 0.1296
Epoch 34/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0808 - val_loss: 0.1435
Epoch 35/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0801 - val_loss: 0.1272
Epoch 36/100
5/5 [==============================] - 0s 9ms/step - loss: 0.0808 - val_loss: 0.1569
Epoch 37/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0854 - val_loss: 0.1341
Epoch 38/100
5/5 [==============================] - 0s 16ms/step - loss: 0.0787 - val_loss: 0.1377
Epoch 39/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0811 - val_loss: 0.1439
Epoch 40/100
5/5 [==============================] - 0s 9ms/step - loss: 0.0928 - val_loss: 0.1505
Epoch 41/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0875 - val_loss: 0.1294
Epoch 42/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0802 - val_loss: 0.1275
Epoch 43/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0912 - val_loss: 0.1259
Epoch 44/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0829 - val_loss: 0.1848
Epoch 45/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0893 - val_loss: 0.1253
Epoch 46/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0898 - val_loss: 0.1289
Epoch 47/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0897 - val_loss: 0.1380
Epoch 48/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1089 - val_loss: 0.2314
Epoch 49/100
5/5 [==============================] - 0s 9ms/step - loss: 0.1322 - val_loss: 0.1551
Epoch 50/100
5/5 [==============================] - 0s 9ms/step - loss: 0.1257 - val_loss: 0.1653
Epoch 51/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1158 - val_loss: 0.1949
Epoch 52/100
5/5 [==============================] - 0s 7ms/step - loss: 0.0889 - val_loss: 0.1438
Epoch 53/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1475 - val_loss: 0.1443
Epoch 54/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1045 - val_loss: 0.1696
Epoch 55/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1155 - val_loss: 0.1366
Epoch 56/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1021 - val_loss: 0.2351
Epoch 57/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0969 - val_loss: 0.1267
Epoch 58/100
5/5 [==============================] - 0s 9ms/step - loss: 0.0893 - val_loss: 0.1252
Epoch 59/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0881 - val_loss: 0.1612
Epoch 60/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1003 - val_loss: 0.1473
Epoch 61/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1199 - val_loss: 0.1316
Epoch 62/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0968 - val_loss: 0.2503
Epoch 63/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1231 - val_loss: 0.1834
Epoch 64/100
5/5 [==============================] - 0s 9ms/step - loss: 0.1155 - val_loss: 0.1706
Epoch 65/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1150 - val_loss: 0.1870
Epoch 66/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1039 - val_loss: 0.1369
Epoch 67/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0928 - val_loss: 0.1298
Epoch 68/100
5/5 [==============================] - 0s 9ms/step - loss: 0.0860 - val_loss: 0.1608
Epoch 69/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0786 - val_loss: 0.1524
Epoch 70/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1288 - val_loss: 0.1288
Epoch 71/100
5/5 [==============================] - 0s 10ms/step - loss: 0.1049 - val_loss: 0.2796
Epoch 72/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1489 - val_loss: 0.1272
Epoch 73/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0979 - val_loss: 0.1551
Epoch 74/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1372 - val_loss: 0.2863
Epoch 75/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1505 - val_loss: 0.1683
Epoch 76/100
5/5 [==============================] - 0s 9ms/step - loss: 0.1907 - val_loss: 0.1431
Epoch 77/100
5/5 [==============================] - 0s 9ms/step - loss: 0.1491 - val_loss: 0.1632
Epoch 78/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1429 - val_loss: 0.1694
Epoch 79/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0936 - val_loss: 0.1809
Epoch 80/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0918 - val_loss: 0.1377
Epoch 81/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1104 - val_loss: 0.1265
Epoch 82/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1024 - val_loss: 0.1251
Epoch 83/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0955 - val_loss: 0.1483
Epoch 84/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0788 - val_loss: 0.1257
Epoch 85/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0869 - val_loss: 0.1623
Epoch 86/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0875 - val_loss: 0.1319
Epoch 87/100
5/5 [==============================] - 0s 8ms/step - loss: 0.0938 - val_loss: 0.1277
Epoch 88/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1005 - val_loss: 0.1456
Epoch 89/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1326 - val_loss: 0.1269
Epoch 90/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1364 - val_loss: 0.3904
Epoch 91/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1529 - val_loss: 0.1529
Epoch 92/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1334 - val_loss: 0.2846
Epoch 93/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1820 - val_loss: 0.1304
Epoch 94/100
5/5 [==============================] - 0s 9ms/step - loss: 0.1477 - val_loss: 0.5500
Epoch 95/100
5/5 [==============================] - 0s 8ms/step - loss: 0.2295 - val_loss: 0.1571
Epoch 96/100
5/5 [==============================] - 0s 7ms/step - loss: 0.1397 - val_loss: 0.1780
Epoch 97/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1433 - val_loss: 0.1324
Epoch 98/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1226 - val_loss: 0.1304
Epoch 99/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1125 - val_loss: 0.1496
Epoch 100/100
5/5 [==============================] - 0s 8ms/step - loss: 0.1155 - val_loss: 0.1378

In [106]:
# Evaluate the model on the test data
loss = model.evaluate(X_test, y_test)
print(f'Test Loss: {loss}')

# Make predictions
future_years = np.array([[2023], [2024], [2025], [2026], [2027]])
future_predictions = model.predict(future_years)

# Inverse transform to get actual population values
future_predictions = scaler.inverse_transform(future_predictions)

# Print the predictions
for year, pred in zip(future_years, future_predictions):
    print(f'Year: {year[0]}, Predicted Population: {pred[0]}')

1/1 [==============================] - 0s 23ms/step - loss: 0.1378
Test Loss: 0.13781821727752686
1/1 [==============================] - 0s 104ms/step
Year: 2023, Predicted Population: 17407260.0
Year: 2024, Predicted Population: 17412840.0
Year: 2025, Predicted Population: 17415816.0
Year: 2026, Predicted Population: 17421892.0
Year: 2027, Predicted Population: 17428340.0