#### predict house prices

In [348]:
import pandas as pd

In [349]:
File_path = "data/House_Rent_Dataset.csv"

df = pd.read_csv(File_path)

In [350]:
df.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

#### Data preprocessing

In [351]:
df.describe()

               BHK          Rent         Size     Bathroom
count  4746.000000  4.746000e+03  4746.000000  4746.000000
mean      2.083860  3.499345e+04   967.490729     1.965866
std       0.832256  7.810641e+04   634.202328     0.884532
min       1.000000  1.200000e+03    10.000000     1.000000
25%       2.000000  1.000000e+04   550.000000     1.000000
50%       2.000000  1.600000e+04   850.000000     2.000000
75%       3.000000  3.300000e+04  1200.000000     2.000000
max       6.000000  3.500000e+06  8000.000000    10.000000

In [352]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: int64(4), object(8)
memory usage: 445.1+ KB

In [353]:
df.isnull().sum()

Posted On            0
BHK                  0
Rent                 0
Size                 0
Floor                0
Area Type            0
Area Locality        0
City                 0
Furnishing Status    0
Tenant Preferred     0
Bathroom             0
Point of Contact     0
dtype: int64

In [354]:
df.duplicated().sum()

0

In [355]:
df['City'].unique()

array(['Kolkata', 'Mumbai', 'Bangalore', 'Delhi', 'Chennai', 'Hyderabad'],
      dtype=object)

In [356]:
# Dropping columns in-place
df.drop(['Posted On', 'Point of Contact'], axis=1, inplace=True)

df.head()

,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom
0,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2
1,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1
2,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1
3,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1
4,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1

In [357]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   BHK                4746 non-null   int64
 1   Rent               4746 non-null   int64
 2   Size               4746 non-null   int64
 3   Floor              4746 non-null   object
 4   Area Type          4746 non-null   object
 5   Area Locality      4746 non-null   object
 6   City               4746 non-null   object
 7   Furnishing Status  4746 non-null   object
 8   Tenant Preferred   4746 non-null   object
 9   Bathroom           4746 non-null   int64
dtypes: int64(4), object(6)
memory usage: 370.9+ KB

#### one hot encoding

In [358]:
df = pd.get_dummies(df, columns=['Furnishing Status', 'Area Type', 'City'])

df.head()

,BHK,Rent,Size,Floor,Area Locality,Tenant Preferred,Bathroom,Furnishing Status_Furnished,Furnishing Status_Semi-Furnished,Furnishing Status_Unfurnished,Area Type_Built Area,Area Type_Carpet Area,Area Type_Super Area,City_Bangalore,City_Chennai,City_Delhi,City_Hyderabad,City_Kolkata,City_Mumbai
0,2,10000,1100,Ground out of 2,Bandel,Bachelors/Family,2,False,False,True,False,False,True,False,False,False,False,True,False
1,2,20000,800,1 out of 3,"Phool Bagan, Kankurgachi",Bachelors/Family,1,False,True,False,False,False,True,False,False,False,False,True,False
2,2,17000,1000,1 out of 3,Salt Lake City Sector 2,Bachelors/Family,1,False,True,False,False,False,True,False,False,False,False,True,False
3,2,10000,800,1 out of 2,Dumdum Park,Bachelors/Family,1,False,False,True,False,False,True,False,False,False,False,True,False
4,2,7500,850,1 out of 2,South Dum Dum,Bachelors,1,False,False,True,False,True,False,False,False,False,False,True,False

In [359]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 19 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   BHK                               4746 non-null   int64
 1   Rent                              4746 non-null   int64
 2   Size                              4746 non-null   int64
 3   Floor                             4746 non-null   object
 4   Area Locality                     4746 non-null   object
 5   Tenant Preferred                  4746 non-null   object
 6   Bathroom                          4746 non-null   int64
 7   Furnishing Status_Furnished       4746 non-null   bool
 8   Furnishing Status_Semi-Furnished  4746 non-null   bool
 9   Furnishing Status_Unfurnished     4746 non-null   bool
 10  Area Type_Built Area              4746 non-null   bool
 11  Area Type_Carpet Area             4746 non-null   bool
 12  Area Type_Super Area              4746 non-null   bool
 13  City_Bangalore                    4746 non-null   bool
 14  City_Chennai                      4746 non-null   bool
 15  City_Delhi                        4746 non-null   bool
 16  City_Hyderabad                    4746 non-null   bool
 17  City_Kolkata                      4746 non-null   bool
 18  City_Mumbai                       4746 non-null   bool
dtypes: bool(12), int64(4), object(3)
memory usage: 315.3+ KB

In [360]:
df['Area Locality'].nunique()

2235

In [361]:
df['Floor'].unique()

array(['Ground out of 2', '1 out of 3', '1 out of 2', 'Ground out of 1',
       'Ground out of 4', '1 out of 4', '1 out of 1', 'Ground out of 3',
       '2 out of 3', '4 out of 5', '2 out of 2', '2 out of 5',
       '4 out of 14', '3 out of 3', '5 out of 5', '4 out of 4',
       '7 out of 8', '2 out of 4', '3 out of 4', '1 out of 5',
       '8 out of 5', 'Ground out of 6', '2 out of 1',
       'Upper Basement out of 4', 'Ground out of 5', '3 out of 5',
       '11 out of 19', '5 out of 10', '11 out of 14',
       'Lower Basement out of 2', '2 out of 7', '4 out of 10',
       '7 out of 10', '2 out of 13', '6 out of 7', '4 out of 7',
       '14 out of 14', '43 out of 78', '2 out of 8', '13 out of 18',
       '5 out of 12', '18 out of 24', '3 out of 7', '17 out of 31',
       '11 out of 21', '7 out of 19', '14 out of 23', '9 out of 20',
       'Upper Basement out of 9', '19 out of 24', '3 out of 21',
       '1 out of 22', '8 out of 8', '6 out of 12', '4 out of 58',
       'Upper Basement out of 16', '60 out of 66', '34 out of 48',
       '5 out of 8', '5 out of 14', '14 out of 40', '5 out of 7',
       '9 out of 22', '12 out of 18', '26 out of 44', '1 out of 8',
       '25 out of 42', '25 out of 41', '53 out of 78', 'Ground out of 7',
       '14 out of 20', '13 out of 20', '16 out of 23', '10 out of 18',
       '39 out of 60', '16 out of 21', '10 out of 32', '4 out of 8',
       '12 out of 24', '32 out of 41', '3 out of 30', '13 out of 21',
       '9 out of 29', '47 out of 89', '7 out of 41', '28 out of 30',
       '13 out of 15', '6 out of 21', '8 out of 16', '2 out of 6',
       '5 out of 19', '3 out of 11', '17 out of 42', '10 out of 12',
       '8 out of 28', '9 out of 15', '14 out of 22', '18 out of 40',
       '9 out of 17', '12 out of 45', '25 out of 35', '7 out of 15',
       '10 out of 16', 'Upper Basement out of 20', '5 out of 20',
       'Upper Basement out of 40', '5 out of 18', '34 out of 58',
       '4 out of 6', '20 out of 22', '12 out of 19', '15 out of 18',
       '65 out of 78', '6 out of 16', '17 out of 22', '6 out of 24',
       '40 out of 75', '19 out of 38', '15 out of 31', '11 out of 28',
       '10 out of 22', '17 out of 24', '15 out of 19', '9 out of 10',
       '7 out of 12', '8 out of 20', '11 out of 13', '9 out of 19',
       '37 out of 51', '6 out of 11', '8 out of 15', '11 out of 20',
       '10 out of 23', 'Upper Basement out of 10', '7 out of 23',
       '4 out of 11', '17 out of 43', '7 out of 22', '14 out of 18',
       '6 out of 10', '8 out of 12', '3 out of 18', '7 out of 7',
       '14 out of 58', '18 out of 23', '19 out of 19', '13 out of 14',
       '7 out of 11', '11 out of 22', 'Upper Basement out of 30',
       '12 out of 14', '16 out of 31', '12 out of 13', '11 out of 51',
       '2 out of 12', '22 out of 24', '7 out of 14', '5 out of 13',
       '7 out of 21', '14 out of 21', '17 out of 25', '9 out of 14',
       '8 out of 27', '3 out of 6', '17 out of 20', '18 out of 22',
       '1 out of 7', '9 out of 30', '3 out of 8', '11 out of 26',
       '17 out of 27', '4 out of 12', '12 out of 16', '10 out of 24',
       '65 out of 76', '7 out of 9', '17 out of 60', '10 out of 11',
       '18 out of 25', '5 out of 11', '15 out of 17', '15 out of 23',
       '5 out of 17', '3 out of 28', '5 out of 24', '16 out of 32',
       '21 out of 22', '7 out of 13', '9 out of 12', '15 out of 32',
       '18 out of 27', '15 out of 16', '18 out of 45', '15 out of 15',
       '6 out of 14', '1 out of 20', '16 out of 36', '30 out of 44',
       '30 out of 37', '2 out of 9', '12 out of 22', '4 out of 9',
       '2 out of 22', '5 out of 6', '6 out of 18', '35 out of 55',
       '16 out of 29', '30 out of 45', '5 out of 9', '16 out of 25',
       '33 out of 42', '4 out of 16', '13 out of 23', '9 out of 38',
       '6 out of 8', '8 out of 13', '19 out of 30', '10 out of 14',
       '11 out of 24', '9 out of 16', '9 out of 31', '4 out of 15',
       '3 out of 9', '22 out of 30', '3 out of 58', '1 out of 9',
       '53 out of 60', '5 out of 22', '15 out of 22', '19 out of 21',
       '9 out of 40', 'Ground out of 8', '44 out of 75', '8 out of 17',
       '3 out of 14', '12 out of 31', '26 out of 42', '2 out of 45',
       '12 out of 68', '17 out of 36', '10 out of 28', '41 out of 41',
       '14 out of 68', '14 out of 17', '15 out of 20', '46 out of 76',
       '12 out of 20', '20 out of 30', '18 out of 32', '10 out of 25',
       '17 out of 29', '10 out of 31', '10 out of 15', '13 out of 16',
       '8 out of 10', '18 out of 21', '27 out of 58', '1 out of 6',
       '19 out of 25', '3 out of 15', '25 out of 43', '8 out of 14',
       '11 out of 12', '9 out of 21', '10 out of 13', '45 out of 77',
       '18 out of 19', '10 out of 20', '12 out of 29',
       'Lower Basement out of 18', '15 out of 24', '48 out of 68',
       '12 out of 42', '16 out of 22', '35 out of 68', '18 out of 30',
       '11 out of 31', '50 out of 75', '18 out of 26', '12 out of 27',
       '16 out of 20', '24 out of 55', '16 out of 37',
       'Upper Basement out of 7', '6 out of 15', '11 out of 27',
       '11 out of 23', '3 out of 12', '14 out of 15', '23 out of 25',
       '14 out of 48', '29 out of 35', '15 out of 36', '15 out of 25',
       '15 out of 28', '3 out of 36', '8 out of 11', '6 out of 20',
       '23 out of 23', '5 out of 15', '16 out of 18', '2 out of 10',
       '40 out of 50', '25 out of 28', '12 out of 17', '34 out of 40',
       'Upper Basement out of 22', '8 out of 23', '5 out of 21',
       '32 out of 59', '20 out of 32', '9 out of 18', '10 out of 37',
       '25 out of 48', '4 out of 22', '8 out of 18', '11 out of 11',
       '5 out of 23', '60 out of 77', '11 out of 18', '4 out of 20',
       '5 out of 16', '3 out of 13', '30 out of 58', '15 out of 43',
       '7 out of 16', '18 out of 28', '9 out of 55', '11 out of 25',
       '49 out of 55', '7 out of 27', '14 out of 27', '16 out of 27',
       '25 out of 50', '6 out of 30', '21 out of 23', '8 out of 58',
       '20 out of 41', '3 out of 62', '4 out of 13', '7 out of 17',
       '12 out of 21', '28 out of 39', '15 out of 58', '6 out of 23',
       '36 out of 45', '9 out of 28', '6 out of 45', '22 out of 52',
       '10 out of 19', '21 out of 58', '48 out of 54', '7 out of 28',
       '11 out of 15', '19 out of 22', '15 out of 37', '2 out of 17',
       '76 out of 78', '3 out of 10', '20 out of 27', '8 out of 36',
       '14 out of 33', '21 out of 21', '12 out of 25', '18 out of 29',
       '14 out of 35', '7 out of 20', '20 out of 37', '9 out of 35',
       '27 out of 27', '15 out of 60', '19 out of 33', '18 out of 20',
       '13 out of 40', '9 out of 11', '8 out of 22', '6 out of 13',
       '20 out of 31', '27 out of 45', '19 out of 20', '32 out of 46',
       '19 out of 85', '3 out of 23', '34 out of 46', '4 out of 27',
       '19 out of 27', '35 out of 60', '21 out of 33', '25 out of 52',
       '2 out of 24', '24 out of 24', '18 out of 33', '1 out of 10',
       '45 out of 60', '60 out of 71', '36 out of 81', '24 out of 60',
       '16 out of 38', '8 out of 45', 'Ground out of 16', '8 out of 32',
       '10 out of 10', '23 out of 40', '7 out of 18', '8 out of 19',
       '6 out of 17', '16 out of 34', 'Ground out of 12', '6 out of 9',
       'Ground out of 18', '20 out of 25', '3 out of 22', '9 out of 32',
       '26 out of 32', '17 out of 18', '24 out of 25', '19 out of 26',
       '17 out of 19', '1 out of 13', '14 out of 30', '8 out of 9',
       '3 out of 17', 'Lower Basement out of 3', '12 out of 23',
       'Ground out of 9', '1 out of 24', '1 out of 12', '3', 'Ground',
       '15 out of 29', '20 out of 20', '14 out of 29',
       'Lower Basement out of 1', '13 out of 17', '1 out of 14',
       'Upper Basement out of 2', '2 out of 14', '24 out of 31',
       '2 out of 32', '2 out of 16', '9 out of 13', '1 out of 11',
       '6 out of 29', '9 out of 9', '28 out of 31', '1 out of 15',
       'Ground out of 14', '2 out of 11', '19 out of 31', '1 out of 16',
       '25 out of 32', '11 out of 16', '11 out of 17',
       'Upper Basement out of 3', '4 out of 24', '1 out of 19',
       '7 out of 30', '16 out of 19', 'Upper Basement out of 5',
       'Ground out of 13', '2 out of 25', '23 out of 30', '4 out of 30',
       '13 out of 25', '23 out of 35', 'Ground out of 10', '5 out of 34',
       '20 out of 35', '1', '4 out of 31', '4 out of 26', '24 out of 33',
       '4 out of 17', '1 out of 35', '11 out of 35', 'Ground out of 15',
       'Ground out of 27', '15 out of 30', '12 out of 30', '23 out of 34'],
      dtype=object)

#### Extract Features Current_Floor and Total_Floors from Floor feature

In [362]:
def parse_floor(value):
    if 'out of' in value:
        current_floor, total_floors = value.split(' out of ')
        # Replace special floor names with numbers
        floor_mapping = {
            'Ground': 0,
            'Upper Basement': -1,
            'Lower Basement': -2
        }
        current_floor = floor_mapping.get(current_floor, current_floor)
        return int(current_floor), int(total_floors)
    return None, None

# Applying the function to each value in the Floor column
df['Current_Floor'], df['Total_Floors'] = zip(*df['Floor'].map(parse_floor))

# Dropping the original 'Floor' column
df.drop('Floor', axis=1, inplace=True)

df.head()

,BHK,Rent,Size,Area Locality,Tenant Preferred,Bathroom,Furnishing Status_Furnished,Furnishing Status_Semi-Furnished,Furnishing Status_Unfurnished,Area Type_Built Area,Area Type_Carpet Area,Area Type_Super Area,City_Bangalore,City_Chennai,City_Delhi,City_Hyderabad,City_Kolkata,City_Mumbai,Current_Floor,Total_Floors
0,2,10000,1100,Bandel,Bachelors/Family,2,False,False,True,False,False,True,False,False,False,False,True,False,0.0,2.0
1,2,20000,800,"Phool Bagan, Kankurgachi",Bachelors/Family,1,False,True,False,False,False,True,False,False,False,False,True,False,1.0,3.0
2,2,17000,1000,Salt Lake City Sector 2,Bachelors/Family,1,False,True,False,False,False,True,False,False,False,False,True,False,1.0,3.0
3,2,10000,800,Dumdum Park,Bachelors/Family,1,False,False,True,False,False,True,False,False,False,False,True,False,1.0,2.0
4,2,7500,850,South Dum Dum,Bachelors,1,False,False,True,False,True,False,False,False,False,False,True,False,1.0,2.0

In [363]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   BHK                               4746 non-null   int64
 1   Rent                              4746 non-null   int64
 2   Size                              4746 non-null   int64
 3   Area Locality                     4746 non-null   object
 4   Tenant Preferred                  4746 non-null   object
 5   Bathroom                          4746 non-null   int64
 6   Furnishing Status_Furnished       4746 non-null   bool
 7   Furnishing Status_Semi-Furnished  4746 non-null   bool
 8   Furnishing Status_Unfurnished     4746 non-null   bool
 9   Area Type_Built Area              4746 non-null   bool
 10  Area Type_Carpet Area             4746 non-null   bool
 11  Area Type_Super Area              4746 non-null   bool
 12  City_Bangalore                    4746 non-null   bool
 13  City_Chennai                      4746 non-null   bool
 14  City_Delhi                        4746 non-null   bool
 15  City_Hyderabad                    4746 non-null   bool
 16  City_Kolkata                      4746 non-null   bool
 17  City_Mumbai                       4746 non-null   bool
 18  Current_Floor                     4742 non-null   float64
 19  Total_Floors                      4742 non-null   float64
dtypes: bool(12), float64(2), int64(4), object(2)
memory usage: 352.4+ KB

In [364]:
df[['Current_Floor', 'Total_Floors']].isna().sum()

Current_Floor    4
Total_Floors     4
dtype: int64

In [365]:
df.dropna(subset=['Current_Floor', 'Total_Floors'], inplace=True)

In [366]:
df.isnull().sum()

BHK                                 0
Rent                                0
Size                                0
Area Locality                       0
Tenant Preferred                    0
Bathroom                            0
Furnishing Status_Furnished         0
Furnishing Status_Semi-Furnished    0
Furnishing Status_Unfurnished       0
Area Type_Built Area                0
Area Type_Carpet Area               0
Area Type_Super Area                0
City_Bangalore                      0
City_Chennai                        0
City_Delhi                          0
City_Hyderabad                      0
City_Kolkata                        0
City_Mumbai                         0
Current_Floor                       0
Total_Floors                        0
dtype: int64

In [367]:
df['Current_Floor'] = df['Current_Floor'].astype(int)
df['Total_Floors'] = df['Total_Floors'].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4742 entries, 0 to 4745
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   BHK                               4742 non-null   int64
 1   Rent                              4742 non-null   int64
 2   Size                              4742 non-null   int64
 3   Area Locality                     4742 non-null   object
 4   Tenant Preferred                  4742 non-null   object
 5   Bathroom                          4742 non-null   int64
 6   Furnishing Status_Furnished       4742 non-null   bool
 7   Furnishing Status_Semi-Furnished  4742 non-null   bool
 8   Furnishing Status_Unfurnished     4742 non-null   bool
 9   Area Type_Built Area              4742 non-null   bool
 10  Area Type_Carpet Area             4742 non-null   bool
 11  Area Type_Super Area              4742 non-null   bool
 12  City_Bangalore                    4742 non-null   bool
 13  City_Chennai                      4742 non-null   bool
 14  City_Delhi                        4742 non-null   bool
 15  City_Hyderabad                    4742 non-null   bool
 16  City_Kolkata                      4742 non-null   bool
 17  City_Mumbai                       4742 non-null   bool
 18  Current_Floor                     4742 non-null   int32
 19  Total_Floors                      4742 non-null   int32
dtypes: bool(12), int32(2), int64(4), object(2)
memory usage: 351.9+ KB

In [368]:
df.head()

,BHK,Rent,Size,Area Locality,Tenant Preferred,Bathroom,Furnishing Status_Furnished,Furnishing Status_Semi-Furnished,Furnishing Status_Unfurnished,Area Type_Built Area,Area Type_Carpet Area,Area Type_Super Area,City_Bangalore,City_Chennai,City_Delhi,City_Hyderabad,City_Kolkata,City_Mumbai,Current_Floor,Total_Floors
0,2,10000,1100,Bandel,Bachelors/Family,2,False,False,True,False,False,True,False,False,False,False,True,False,0,2
1,2,20000,800,"Phool Bagan, Kankurgachi",Bachelors/Family,1,False,True,False,False,False,True,False,False,False,False,True,False,1,3
2,2,17000,1000,Salt Lake City Sector 2,Bachelors/Family,1,False,True,False,False,False,True,False,False,False,False,True,False,1,3
3,2,10000,800,Dumdum Park,Bachelors/Family,1,False,False,True,False,False,True,False,False,False,False,True,False,1,2
4,2,7500,850,South Dum Dum,Bachelors,1,False,False,True,False,True,False,False,False,False,False,True,False,1,2

#### one hot encoding for coloumn Tenant Preferred

In [369]:
df = pd.get_dummies(df, columns=['Tenant Preferred'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4742 entries, 0 to 4745
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   BHK                                4742 non-null   int64
 1   Rent                               4742 non-null   int64
 2   Size                               4742 non-null   int64
 3   Area Locality                      4742 non-null   object
 4   Bathroom                           4742 non-null   int64
 5   Furnishing Status_Furnished        4742 non-null   bool
 6   Furnishing Status_Semi-Furnished   4742 non-null   bool
 7   Furnishing Status_Unfurnished      4742 non-null   bool
 8   Area Type_Built Area               4742 non-null   bool
 9   Area Type_Carpet Area              4742 non-null   bool
 10  Area Type_Super Area               4742 non-null   bool
 11  City_Bangalore                     4742 non-null   bool
 12  City_Chennai                       4742 non-null   bool
 13  City_Delhi                         4742 non-null   bool
 14  City_Hyderabad                     4742 non-null   bool
 15  City_Kolkata                       4742 non-null   bool
 16  City_Mumbai                        4742 non-null   bool
 17  Current_Floor                      4742 non-null   int32
 18  Total_Floors                       4742 non-null   int32
 19  Tenant Preferred_Bachelors         4742 non-null   bool
 20  Tenant Preferred_Bachelors/Family  4742 non-null   bool
 21  Tenant Preferred_Family            4742 non-null   bool
dtypes: bool(15), int32(2), int64(4), object(1)
memory usage: 328.8+ KB

In [370]:

# Let's assume your DataFrame is named df
X = df.drop('Rent', axis=1)  # Features
y = df['Rent']  # Target

In [371]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4742 entries, 0 to 4745
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   BHK                                4742 non-null   int64
 1   Size                               4742 non-null   int64
 2   Area Locality                      4742 non-null   object
 3   Bathroom                           4742 non-null   int64
 4   Furnishing Status_Furnished        4742 non-null   bool
 5   Furnishing Status_Semi-Furnished   4742 non-null   bool
 6   Furnishing Status_Unfurnished      4742 non-null   bool
 7   Area Type_Built Area               4742 non-null   bool
 8   Area Type_Carpet Area              4742 non-null   bool
 9   Area Type_Super Area               4742 non-null   bool
 10  City_Bangalore                     4742 non-null   bool
 11  City_Chennai                       4742 non-null   bool
 12  City_Delhi                         4742 non-null   bool
 13  City_Hyderabad                     4742 non-null   bool
 14  City_Kolkata                       4742 non-null   bool
 15  City_Mumbai                        4742 non-null   bool
 16  Current_Floor                      4742 non-null   int32
 17  Total_Floors                       4742 non-null   int32
 18  Tenant Preferred_Bachelors         4742 non-null   bool
 19  Tenant Preferred_Bachelors/Family  4742 non-null   bool
 20  Tenant Preferred_Family            4742 non-null   bool
dtypes: bool(15), int32(2), int64(3), object(1)
memory usage: 291.7+ KB

In [372]:
from sklearn.model_selection import train_test_split

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [373]:
import category_encoders as ce

# Create a target encoder object
encoder = ce.TargetEncoder(cols=['Area Locality'])

# Fit and transform to the train data
X_train['Area Locality'] = encoder.fit_transform(X_train['Area Locality'], y_train)

# Transform on test data
X_test['Area Locality'] = encoder.transform(X_test['Area Locality'])