In [1]:
import pandas as pd

In [2]:
data_set = "data/cases_and_deaths.csv"

In [3]:
data_df = pd.read_csv(data_set)

data_df.head()

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
0,Alabama,22/01/2020,4887871.0,0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,23/01/2020,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
2,Alabama,24/01/2020,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
3,Alabama,25/01/2020,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
4,Alabama,26/01/2020,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0

#### check for null entries

In [4]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11536 entries, 0 to 11535
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          11536 non-null  object
 1   date                           11536 non-null  object
 2   total_population               10712 non-null  float64
 3   cumulative_cases               11536 non-null  int64
 4   cumulative_cases_per_100_000   10712 non-null  float64
 5   cumulative_deaths              11536 non-null  int64
 6   cumulative_deaths_per_100_000  10712 non-null  float64
 7   new_cases                      11480 non-null  float64
 8   new_cases_7_day_rolling_avg    11256 non-null  float64
 9   new_deaths                     11480 non-null  float64
 10  new_deaths_7_day_rolling_avg   11254 non-null  float64
 11  new_deaths_per_100_000         10660 non-null  float64
 12  new_cases_per_100_000          10660 non-null  float64
dtypes: float64(9), int64(2), object(2)
memory usage: 1.1+ MB

In [5]:
data_df.isnull().sum()

state                              0
date                               0
total_population                 824
cumulative_cases                   0
cumulative_cases_per_100_000     824
cumulative_deaths                  0
cumulative_deaths_per_100_000    824
new_cases                         56
new_cases_7_day_rolling_avg      280
new_deaths                        56
new_deaths_7_day_rolling_avg     282
new_deaths_per_100_000           876
new_cases_per_100_000            876
dtype: int64

In [6]:
df = data_df.dropna()

df.head()

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
5,Alabama,27/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Alabama,28/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Alabama,29/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Alabama,30/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Alabama,31/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10450 entries, 5 to 11535
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          10450 non-null  object
 1   date                           10450 non-null  object
 2   total_population               10450 non-null  float64
 3   cumulative_cases               10450 non-null  int64
 4   cumulative_cases_per_100_000   10450 non-null  float64
 5   cumulative_deaths              10450 non-null  int64
 6   cumulative_deaths_per_100_000  10450 non-null  float64
 7   new_cases                      10450 non-null  float64
 8   new_cases_7_day_rolling_avg    10450 non-null  float64
 9   new_deaths                     10450 non-null  float64
 10  new_deaths_7_day_rolling_avg   10450 non-null  float64
 11  new_deaths_per_100_000         10450 non-null  float64
 12  new_cases_per_100_000          10450 non-null  float64
dtypes: float64(9), int64(2), object(2)
memory usage: 1.1+ MB

#### check for duplicate values

In [8]:
df.duplicated().sum()

0

#### see the unique states

In [9]:
df['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [10]:
df['state'].nunique() #number of unique states

52

In [11]:
df.head()

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
5,Alabama,27/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Alabama,28/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Alabama,29/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Alabama,30/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Alabama,31/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### statistical analysis

In [12]:
df.describe()

,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
count,1.045000e+04,10450.000000,10450.000000,10450.000000,10450.000000,10450.000000,10450.000000,10450.000000,10450.000000,10450.000000,10450.000000
mean,6.353973e+06,29811.193780,408.896654,1342.198660,16.983147,508.253301,492.878002,16.117512,15.966608,0.206753,6.851282
std,7.215047e+06,67550.896256,542.365294,3789.567721,30.728320,1269.348789,1202.616774,54.662972,52.061525,0.457041,9.516537
min,5.777370e+05,0.000000,0.000000,0.000000,0.000000,-140.000000,0.000000,-131.000000,0.000000,-0.990000,-4.640000
25%,1.767114e+06,37.000000,1.005000,0.000000,0.000000,1.000000,2.744048,0.000000,0.000000,0.000000,0.050000
50%,4.468402e+06,4495.000000,161.765000,118.000000,4.730000,109.000000,111.000000,2.000000,2.428571,0.060000,3.540000
75%,7.444605e+06,28476.500000,626.892500,920.000000,17.907500,500.000000,492.535714,12.000000,12.333333,0.220000,9.200000
max,3.955704e+07,613101.000000,2934.280000,32827.000000,178.510000,15300.000000,11870.000000,1081.000000,974.285714,7.130000,82.400000

In [13]:
# Removing records where 'new_cases' or 'new_deaths' are less than 0 negative
df_cleaned = df[(df['new_cases'] >= 0) & (df['new_deaths'] >= 0)]

df_cleaned.describe()

,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
count,1.036800e+04,10368.000000,10368.000000,10368.000000,10368.000000,10368.000000,10368.000000,10368.000000,10368.000000,10368.000000,10368.000000
mean,6.365158e+06,29757.464410,408.065459,1336.319252,16.911026,509.357253,493.469466,16.286458,15.926019,0.208877,6.869250
std,7.224389e+06,67466.607823,541.473582,3781.555576,30.542226,1270.351366,1202.702971,54.818185,51.462626,0.457747,9.526648
min,5.777370e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.805832e+06,34.000000,0.930000,0.000000,0.000000,2.000000,2.571429,0.000000,0.000000,0.000000,0.060000
50%,4.468402e+06,4492.500000,161.230000,117.000000,4.730000,109.000000,110.714286,2.000000,2.428571,0.060000,3.550000
75%,7.535591e+06,28516.250000,625.495000,920.250000,17.932500,502.000000,495.785714,12.000000,12.428571,0.220000,9.210000
max,3.955704e+07,613101.000000,2934.280000,32827.000000,178.510000,15300.000000,11870.000000,1081.000000,974.285714,7.130000,82.400000

In [14]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10368 entries, 5 to 11535
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          10368 non-null  object
 1   date                           10368 non-null  object
 2   total_population               10368 non-null  float64
 3   cumulative_cases               10368 non-null  int64
 4   cumulative_cases_per_100_000   10368 non-null  float64
 5   cumulative_deaths              10368 non-null  int64
 6   cumulative_deaths_per_100_000  10368 non-null  float64
 7   new_cases                      10368 non-null  float64
 8   new_cases_7_day_rolling_avg    10368 non-null  float64
 9   new_deaths                     10368 non-null  float64
 10  new_deaths_7_day_rolling_avg   10368 non-null  float64
 11  new_deaths_per_100_000         10368 non-null  float64
 12  new_cases_per_100_000          10368 non-null  float64
dtypes: float64(9), int64(2), object(2)
memory usage: 1.1+ MB

In [15]:
df_cleaned.head()

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
5,Alabama,27/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Alabama,28/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Alabama,29/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Alabama,30/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Alabama,31/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Marcov chain

In [16]:
import numpy as np
from hmmlearn import hmm
import matplotlib.pyplot as plt

In [17]:
# Convert date to datetime object
df_cleaned['date'] = pd.to_datetime(df_cleaned['date'], format='%d/%m/%Y')

C:\Users\Eric\AppData\Local\Temp\ipykernel_13656\1335600615.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['date'] = pd.to_datetime(df_cleaned['date'], format='%d/%m/%Y')

In [18]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10368 entries, 5 to 11535
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          10368 non-null  object
 1   date                           10368 non-null  datetime64[ns]
 2   total_population               10368 non-null  float64
 3   cumulative_cases               10368 non-null  int64
 4   cumulative_cases_per_100_000   10368 non-null  float64
 5   cumulative_deaths              10368 non-null  int64
 6   cumulative_deaths_per_100_000  10368 non-null  float64
 7   new_cases                      10368 non-null  float64
 8   new_cases_7_day_rolling_avg    10368 non-null  float64
 9   new_deaths                     10368 non-null  float64
 10  new_deaths_7_day_rolling_avg   10368 non-null  float64
 11  new_deaths_per_100_000         10368 non-null  float64
 12  new_cases_per_100_000          10368 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(2), object(1)
memory usage: 1.1+ MB

In [19]:
df_cleaned.head()

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
5,Alabama,2020-01-27,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Alabama,2020-01-28,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Alabama,2020-01-29,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Alabama,2020-01-30,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Alabama,2020-01-31,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Build Model

In [20]:
# Ensure sorting
df_cleaned.sort_values(by=['state','date'], inplace=True)

df_cleaned.head()

C:\Users\Eric\AppData\Local\Temp\ipykernel_13656\3176539364.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.sort_values(by=['state','date'], inplace=True)

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
5,Alabama,2020-01-27,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Alabama,2020-01-28,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Alabama,2020-01-29,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Alabama,2020-01-30,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Alabama,2020-01-31,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
alabama_df = df_cleaned[df_cleaned['state'] == 'Alabama']
alabama = alabama_df[['state','new_cases_7_day_rolling_avg', 'new_deaths_7_day_rolling_avg', 'cumulative_cases_per_100_000', 'cumulative_deaths_per_100_000']]
alabama.head()

,state,new_cases_7_day_rolling_avg,new_deaths_7_day_rolling_avg,cumulative_cases_per_100_000,cumulative_deaths_per_100_000
5,Alabama,0.0,0.0,0.0,0.0
6,Alabama,0.0,0.0,0.0,0.0
7,Alabama,0.0,0.0,0.0,0.0
8,Alabama,0.0,0.0,0.0,0.0
9,Alabama,0.0,0.0,0.0,0.0

In [22]:
states = df_cleaned['state'].unique()

# Dictionary to hold models
state_models = {}
state_predictions = {}

# Train a model for each state
for state in states:
    state_data = df_cleaned[df_cleaned['state'] == state]
    X = state_data[['new_cases_7_day_rolling_avg', 'new_deaths_7_day_rolling_avg', 
                    'cumulative_cases_per_100_000', 'cumulative_deaths_per_100_000']].values

    # Train HMM
    #Low Severity: Few cases and deaths, limited community spread.Moderate Severity: Increasing cases, growing community transmission, and rising deaths.High Severity: High number of cases and deaths, widespread transmission.

    model = hmm.GaussianHMM(n_components=3, covariance_type="diag", n_iter=1000) 

    model.fit(X)
    state_models[state] = model
    
    # Predict states
    predicted_states = model.predict(X)
    state_predictions[state] = predicted_states

c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
Model is not converging.  Current: -3418.1363295437945 is not greater than -3418.136058387851. Delta is -0.00027115594366478035
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
Model is not converging.  Current: -2851.464569602979 is not greater than -2851.461872525736. Delta is -0.0026970772428285272
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
Model is not converging.  Current: -2450.804189640772 is not greater than -2450.803427003868. Delta is -0.000762636904255487
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
Model is not converging.  Current: -2393.367142423512 is not greater than -2393.363314525203. Delta is -0.0038278983092823182
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
Model is not converging.  Current: -1028.7895128718023 is not greater than -1028.7544622226897. Delta is -0.035050649112690735
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
Model is not converging.  Current: -2489.6123275590903 is not greater than -2489.612059349654. Delta is -0.00026820943639904726
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
Model is not converging.  Current: -2946.576194508591 is not greater than -2946.5751573208977. Delta is -0.0010371876933277235
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
Model is not converging.  Current: -2706.151949851652 is not greater than -2706.149221655821. Delta is -0.002728195830968616
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
Model is not converging.  Current: -1902.6303219357767 is not greater than -1902.6300015933136. Delta is -0.00032034246305556735
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
Model is not converging.  Current: -2522.5910796418866 is not greater than -2522.5805697013375. Delta is -0.01050994054912735
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
Model is not converging.  Current: -3031.025408052495 is not greater than -3031.025408003726. Delta is -4.876892489846796e-08
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
Model is not converging.  Current: -886.1363571316762 is not greater than -886.1361926007021. Delta is -0.00016453097407520545
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
Model is not converging.  Current: -1427.4460991674994 is not greater than -1427.4385598973856. Delta is -0.007539270113738894
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
Model is not converging.  Current: -2347.4611979596343 is not greater than -2347.445729044568. Delta is -0.015468915066321642
c:\Users\Eric\anaconda3\envs\notebook_env\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [23]:
state_predictions

{'Alabama': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1], dtype=int64),
 'Alaska': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2], dtype=int64),
 'Arizona': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2], dtype=int64),
 'Arkansas': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 1, 2, 1, 2, 1,
        2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1,
        2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1,
        2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1,
        2, 1], dtype=int64),
 'California': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1], dtype=int64),
 'Colorado': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1], dtype=int64),
 'Connecticut': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1], dtype=int64),
 'Delaware': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2], dtype=int64),
 'District of Columbia': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2], dtype=int64),
 'Florida': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1], dtype=int64),
 'Georgia': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1], dtype=int64),
 'Hawaii': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
       dtype=int64),
 'Idaho': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2], dtype=int64),
 'Illinois': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2], dtype=int64),
 'Indiana': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2], dtype=int64),
 'Iowa': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0], dtype=int64),
 'Kansas': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2], dtype=int64),
 'Kentucky': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0], dtype=int64),
 'Louisiana': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1], dtype=int64),
 'Maine': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
       dtype=int64),
 'Maryland': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2], dtype=int64),
 'Massachusetts': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2], dtype=int64),
 'Michigan': array([2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0,
        2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0,
        2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2,
        0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2,
        0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2,
        0], dtype=int64),
 'Minnesota': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 1, 2, 1, 2, 1,
        2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1,
        2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1,
        2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1,
        2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1,
        2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1,
        2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1,
        2, 1, 2], dtype=int64),
 'Mississippi': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1], dtype=int64),
 'Missouri': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0], dtype=int64),
 'Montana': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       dtype=int64),
 'Nebraska': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64),
 'Nevada': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,

In [24]:
state_models

{'Alabama': GaussianHMM(n_components=3, n_iter=1000),
 'Alaska': GaussianHMM(n_components=3, n_iter=1000),
 'Arizona': GaussianHMM(n_components=3, n_iter=1000),
 'Arkansas': GaussianHMM(n_components=3, n_iter=1000),
 'California': GaussianHMM(n_components=3, n_iter=1000),
 'Colorado': GaussianHMM(n_components=3, n_iter=1000),
 'Connecticut': GaussianHMM(n_components=3, n_iter=1000),
 'Delaware': GaussianHMM(n_components=3, n_iter=1000),
 'District of Columbia': GaussianHMM(n_components=3, n_iter=1000),
 'Florida': GaussianHMM(n_components=3, n_iter=1000),
 'Georgia': GaussianHMM(n_components=3, n_iter=1000),
 'Hawaii': GaussianHMM(n_components=3, n_iter=1000),
 'Idaho': GaussianHMM(n_components=3, n_iter=1000),
 'Illinois': GaussianHMM(n_components=3, n_iter=1000),
 'Indiana': GaussianHMM(n_components=3, n_iter=1000),
 'Iowa': GaussianHMM(n_components=3, n_iter=1000),
 'Kansas': GaussianHMM(n_components=3, n_iter=1000),
 'Kentucky': GaussianHMM(n_components=3, n_iter=1000),
 'Louisiana': GaussianHMM(n_components=3, n_iter=1000),
 'Maine': GaussianHMM(n_components=3, n_iter=1000),
 'Maryland': GaussianHMM(n_components=3, n_iter=1000),
 'Massachusetts': GaussianHMM(n_components=3, n_iter=1000),
 'Michigan': GaussianHMM(n_components=3, n_iter=1000),
 'Minnesota': GaussianHMM(n_components=3, n_iter=1000),
 'Mississippi': GaussianHMM(n_components=3, n_iter=1000),
 'Missouri': GaussianHMM(n_components=3, n_iter=1000),
 'Montana': GaussianHMM(n_components=3, n_iter=1000),
 'Nebraska': GaussianHMM(n_components=3, n_iter=1000),
 'Nevada': GaussianHMM(n_components=3, n_iter=1000),
 'New Hampshire': GaussianHMM(n_components=3, n_iter=1000),
 'New Jersey': GaussianHMM(n_components=3, n_iter=1000),
 'New Mexico': GaussianHMM(n_components=3, n_iter=1000),
 'New York': GaussianHMM(n_components=3, n_iter=1000),
 'North Carolina': GaussianHMM(n_components=3, n_iter=1000),
 'North Dakota': GaussianHMM(n_components=3, n_iter=1000),
 'Ohio': GaussianHMM(n_components=3, n_iter=1000),
 'Oklahoma': GaussianHMM(n_components=3, n_iter=1000),
 'Oregon': GaussianHMM(n_components=3, n_iter=1000),
 'Pennsylvania': GaussianHMM(n_components=3, n_iter=1000),
 'Puerto Rico': GaussianHMM(n_components=3, n_iter=1000),
 'Rhode Island': GaussianHMM(n_components=3, n_iter=1000),
 'South Carolina': GaussianHMM(n_components=3, n_iter=1000),
 'South Dakota': GaussianHMM(n_components=3, n_iter=1000),
 'Tennessee': GaussianHMM(n_components=3, n_iter=1000),
 'Texas': GaussianHMM(n_components=3, n_iter=1000),
 'Utah': GaussianHMM(n_components=3, n_iter=1000),
 'Vermont': GaussianHMM(n_components=3, n_iter=1000),
 'Virginia': GaussianHMM(n_components=3, n_iter=1000),
 'Washington': GaussianHMM(n_components=3, n_iter=1000),
 'West Virginia': GaussianHMM(n_components=3, n_iter=1000),
 'Wisconsin': GaussianHMM(n_components=3, n_iter=1000),
 'Wyoming': GaussianHMM(n_components=3, n_iter=1000)}

In [25]:
alabama['states-pred']= state_predictions['Alabama']

alabama.head(100)

C:\Users\Eric\AppData\Local\Temp\ipykernel_13656\893554910.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  alabama['states-pred']= state_predictions['Alabama']

,state,new_cases_7_day_rolling_avg,new_deaths_7_day_rolling_avg,cumulative_cases_per_100_000,cumulative_deaths_per_100_000,states-pred
5,Alabama,0.000000,0.000000,0.00,0.00,0
6,Alabama,0.000000,0.000000,0.00,0.00,0
7,Alabama,0.000000,0.000000,0.00,0.00,0
8,Alabama,0.000000,0.000000,0.00,0.00,0
9,Alabama,0.000000,0.000000,0.00,0.00,0
...,...,...,...,...,...,...
100,Alabama,181.142857,11.428571,149.23,5.91,2
102,Alabama,209.571429,12.000000,161.38,5.93,2
103,Alabama,224.714286,11.833333,165.96,6.10,2
104,Alabama,241.000000,12.333333,172.61,6.44,2
105,Alabama,254.142857,14.666667,177.81,7.02,2

In [28]:
alabama[alabama['states-pred'] == 1]

,state,new_cases_7_day_rolling_avg,new_deaths_7_day_rolling_avg,cumulative_cases_per_100_000,cumulative_deaths_per_100_000,states-pred
169,Alabama,1294.714286,11.857143,1006.04,21.85,1
170,Alabama,1234.714286,14.000000,1033.33,22.59,1
171,Alabama,1297.857143,15.285714,1062.77,22.79,1
172,Alabama,1376.285714,16.285714,1096.33,22.93,1
173,Alabama,1523.857143,16.714286,1136.38,23.00,1
174,Alabama,1638.571429,18.714286,1171.37,23.81,1
175,Alabama,1729.285714,21.857143,1208.44,24.78,1
176,Alabama,1702.000000,23.142857,1249.79,25.16,1
177,Alabama,1797.571429,23.000000,1290.77,25.88,1
178,Alabama,1898.142857,24.571429,1334.61,26.31,1
179,Alabama,1917.714286,23.714286,1370.96,26.33,1
180,Alabama,1906.571429,23.857143,1409.43,26.41,1
181,Alabama,1871.857143,19.857143,1439.44,26.66,1
182,Alabama,1820.857143,21.857143,1469.21,27.91,1
183,Alabama,1874.857143,23.857143,1518.29,28.58,1
184,Alabama,1844.857143,24.714286,1554.97,29.42,1
185,Alabama,1842.285714,24.285714,1598.45,29.79,1
186,Alabama,1754.714286,26.571429,1622.26,30.14,1
187,Alabama,1746.285714,28.571429,1659.52,30.50,1
188,Alabama,1715.428571,26.857143,1685.11,30.50,1
189,Alabama,1709.857143,24.857143,1714.08,31.47,1
190,Alabama,1650.000000,24.000000,1754.59,32.02,1
191,Alabama,1674.000000,20.285714,1794.71,32.32,1
192,Alabama,1602.714286,21.000000,1827.97,32.80,1
193,Alabama,1735.714286,22.000000,1870.83,33.29,1
194,Alabama,1649.428571,20.285714,1895.73,33.41,1
195,Alabama,1619.428571,25.000000,1917.03,34.08,1
196,Alabama,1553.142857,22.428571,1936.51,34.68,1
197,Alabama,1547.142857,21.285714,1976.16,35.07,1
198,Alabama,1511.142857,22.142857,2011.12,35.50,1
199,Alabama,1546.285714,21.714286,2049.42,35.91,1
200,Alabama,1412.857143,20.142857,2073.17,36.17,1
201,Alabama,1479.857143,23.428571,2107.67,36.76,1
202,Alabama,1449.857143,25.857143,2124.67,37.79,1
203,Alabama,1447.428571,26.714286,2143.80,38.50,1
204,Alabama,1280.714286,25.142857,2159.57,38.67,1
205,Alabama,1144.000000,22.571429,2174.96,38.73,1

In [29]:
alabama[alabama['states-pred'] == 0]

,state,new_cases_7_day_rolling_avg,new_deaths_7_day_rolling_avg,cumulative_cases_per_100_000,cumulative_deaths_per_100_000,states-pred
5,Alabama,0.000000,0.0,0.00,0.0,0
6,Alabama,0.000000,0.0,0.00,0.0,0
7,Alabama,0.000000,0.0,0.00,0.0,0
8,Alabama,0.000000,0.0,0.00,0.0,0
9,Alabama,0.000000,0.0,0.00,0.0,0
10,Alabama,0.000000,0.0,0.00,0.0,0
11,Alabama,0.000000,0.0,0.00,0.0,0
12,Alabama,0.000000,0.0,0.00,0.0,0
13,Alabama,0.000000,0.0,0.00,0.0,0
14,Alabama,0.000000,0.0,0.00,0.0,0
15,Alabama,0.000000,0.0,0.00,0.0,0
16,Alabama,0.000000,0.0,0.00,0.0,0
17,Alabama,0.000000,0.0,0.00,0.0,0
18,Alabama,0.000000,0.0,0.00,0.0,0
19,Alabama,0.000000,0.0,0.00,0.0,0
20,Alabama,0.000000,0.0,0.00,0.0,0
21,Alabama,0.000000,0.0,0.00,0.0,0
22,Alabama,0.000000,0.0,0.00,0.0,0
23,Alabama,0.000000,0.0,0.00,0.0,0
24,Alabama,0.000000,0.0,0.00,0.0,0
25,Alabama,0.000000,0.0,0.00,0.0,0
26,Alabama,0.000000,0.0,0.00,0.0,0
27,Alabama,0.000000,0.0,0.00,0.0,0
28,Alabama,0.000000,0.0,0.00,0.0,0
29,Alabama,0.000000,0.0,0.00,0.0,0
30,Alabama,0.000000,0.0,0.00,0.0,0
31,Alabama,0.000000,0.0,0.00,0.0,0
32,Alabama,0.000000,0.0,0.00,0.0,0
33,Alabama,0.000000,0.0,0.00,0.0,0
34,Alabama,0.000000,0.0,0.00,0.0,0
35,Alabama,0.000000,0.0,0.00,0.0,0
36,Alabama,0.000000,0.0,0.00,0.0,0
37,Alabama,0.000000,0.0,0.00,0.0,0
38,Alabama,0.000000,0.0,0.00,0.0,0
39,Alabama,0.000000,0.0,0.00,0.0,0
40,Alabama,0.000000,0.0,0.00,0.0,0
41,Alabama,0.000000,0.0,0.00,0.0,0
42,Alabama,0.000000,0.0,0.00,0.0,0
43,Alabama,0.000000,0.0,0.00,0.0,0
44,Alabama,0.000000,0.0,0.00,0.0,0
45,Alabama,0.000000,0.0,0.00,0.0,0
46,Alabama,0.000000,0.0,0.00,0.0,0
47,Alabama,0.000000,0.0,0.00,0.0,0
48,Alabama,0.000000,0.0,0.00,0.0,0
49,Alabama,0.000000,0.0,0.00,0.0,0
50,Alabama,0.000000,0.0,0.00,0.0,0
51,Alabama,0.714286,0.0,0.10,0.0,0
52,Alabama,1.000000,0.0,0.14,0.0,0
53,Alabama,1.571429,0.0,0.23,0.0,0
54,Alabama,4.142857,0.0,0.59,0.0,0
55,Alabama,5.571429,0.0,0.80,0.0,0
56,Alabama,7.285714,0.0,1.04,0.0,0
57,Alabama,11.142857,0.0,1.60,0.0,0
58,Alabama,14.428571,0.0,2.17,0.0,0
59,Alabama,17.714286,0.0,2.68,0.0,0
60,Alabama,20.857143,0.0,3.21,0.0,0
61,Alabama,23.857143,0.0,4.01,0.0,0
62,Alabama,29.000000,0.0,4.95,0.0,0

In [30]:
alabama[alabama['states-pred'] == 2]

,state,new_cases_7_day_rolling_avg,new_deaths_7_day_rolling_avg,cumulative_cases_per_100_000,cumulative_deaths_per_100_000,states-pred
63,Alabama,47.142857,0.142857,7.79,0.02,2
64,Alabama,62.714286,0.142857,10.58,0.02,2
65,Alabama,68.714286,0.571429,12.01,0.08,2
66,Alabama,80.428571,0.571429,14.20,0.08,2
67,Alabama,95.428571,1.428571,16.88,0.20,2
...,...,...,...,...,...,...
164,Alabama,1111.285714,12.571429,876.91,20.60,2
165,Alabama,1216.000000,12.571429,899.23,20.60,2
166,Alabama,1100.428571,11.142857,918.15,20.60,2
167,Alabama,1105.714286,11.857143,936.71,21.13,2
168,Alabama,1142.857143,12.285714,960.79,21.65,2